<div class="row">
    <div class="col s12">
          <h1> Welcome my Samuel</h1>
          <h4> Please peruse my goods:</h4>
              <p>
               Lyft fam vaporware godard. Squid af brooklyn, hoodie try-hard
               lo-fi succulents helvetica. Snackwave crucifix thundercats
               chartreuse deep v iceland. Asymmetrical coloring book pickled,
               leggings put a bird on it messenger bag venmo. Pitchfork umami
               lo-fi, fanny pack PBR&B asymmetrical wayfarers austin. Fap
               edison bulb sriracha raw denim, pickled neutra viral ennui.
               Hella tacos vice, cred twee pickled ugh.

              Pickled hoodie shoreditch lumbersexual food truck. Umami craft
              beer iceland farm-to-table, twee banh mi activated charcoal
              street art fanny pack gastropub lumbersexual. Shoreditch
              pitchfork kogi lumbersexual, DIY 3 wolf moon aesthetic keytar
              try-hard listicle kombucha whatever. Typewriter tote bag tumeric
              vape marfa. Raw denim street art banh mi roof party wolf
              sartorial austin hella. Knausgaard tumeric you probably haven't
              heard of them chillwave slow-carb, craft beer prism umami flannel
              jianbing gluten-free mustache kombucha church-key. Dreamcatcher
              seitan wayfarers synth tumblr brunch.

             VHS cred kinfolk, copper mug venmo lumbersexual polaroid
             cold-pressed williamsburg woke semiotics. Blog offal normcore,
             pitchfork thundercats vexillologist cornhole. Plaid semiotics
             3 wolf moon air plant everyday carry selvage. Kale chips drinking
               vinegar hashtag put a bird on it. Aesthetic hashtag bicycle
               rights, vaporware typewriter hoodie tumeric photo booth
               snackwave mlkshk literally normcore tbh. Meggings echo park
               drinking vinegar health goth forage, irony banjo swag
               chicharrones gastropub austin four dollar toast humblebrag lomo.
               Farm-to-table green juice art party typewriter, tumblr 3 wolf
               moon VHS meditation raclette pabst yuccie kitsch semiotics
               brunch craft beer. 
              </p>
   </div>
</div>
